<div>
    {{#with program}}
    {{#with excursion}}
        <h1>{{name}}</h1>
        <br>
        <hr>
        {{#with location}}
        <div>{{city}}</div>
        <br>
        <div>{{country}}</div>
        {{/with}}
        <br>
        <div>{{date}}</div>
   

        <br>
        <hr>
    
        
         <p><strong>Program</strong></p>
            <ul>
                {{#each program}}
                <div>{{name}}</div>
                <div>{{type}}</div>
                <div>{{duration}}</div>

                <br>
                <hr>

             <p><strong>Details</strong></p> 
             
                {{#with details}}
                <div>{{museum.name}} {{venue.name}}</div>
                {{#with museum}}
                {{#with location}}
                <div>{{address}}</div>
                <div>{{city}}</div>
                <div>{{country}}</div>
                {{/with}}

                <br>
                <hr>

                 <p><strong>Exhibits</strong></p> 

                 <br>

                 
                 {{#each exhibits}}
                 <div>{{name}}</div>
                 <br>
                 <div>{{artist}}</div>
                 <br>
                 {{#unless artist}} ( No name ) {{/unless}}
                 <p>{{description}}</p>
                 <div>{{#if audio_guide}} ( audio guide ) {{/if}}</div>
                 <br>
                 {{/each}} 
                 {{/with}}

                
                {{#with venue}}
                {{#with location}}
                <div>{{address}}</div>
                <div>{{city}}</div>
                <div>{{country}}</div>
                {{/with}}
                {{/with}}
                
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
                 <br>
                 <hr>
                
                

                
 
                {{#each performers}}

            <p><strong>Performers</strong></p> 

                <div>{{name}}</div>
                <div>{{type}}</div>
                <br>
                {{/each}} 

                <br>
                
                
                <p><strong>Guide</strong></p> 

                
                  
                 {{#with guide}}
                 <div>{{name}}</div>
                 <div>{{language}}</div>
                 <div>{{rating}}</div>
                 {{/with}} 
                 {{/with}}
                 
                 <br>
                 <hr>
                <br>
                <hr>
                 <br>
                 <br>        
                
                
                
                {{/each}}
            </ul>
        </section>
    
  {{/with}}  
{{/with}}
    
</div>