<div>
    {{#with program}}
    {{#with excursion}}
        <h1>{{name}}</h1>
        <br>
        <hr>
        {{#with location}}
        <div>{{city}}</div>
        <br>
        <div>{{country}}</div>
        {{/with}}
        <br>
        <div>{{date}}</div>
   

        <br>
        <hr>
    
        <section>
         <p><strong>Program</strong></p>
            <ul>
                {{#each program}}
                <li><div>{{name}}</div></li>
               <li> <div>{{type}}</div></li>
               <li> <div>{{duration}}</div></li>

                <br>
                <hr>

             <p><strong>Details</strong></p> 
             
                {{#with details}}
                <div>{{museum.name}} {{venue.name}}</div>
                {{#with museum}}
                {{#with location}}
                <div>{{address}}</div>
                <div>{{city}}</div>
                <div>{{country}}</div>
                {{/with}}
              
                 <br>
                 <hr>

                 <p><strong>Exhibits</strong></p> 

                 <uL>
                 {{#each exhibits}}
                 <li>{{name}}</li>
                 <li><div>{{artist}}</div></li>
                 <li>{{#unless artist}} ( No name ) {{/unless}}</li>
                 <p>{{description}}</p>
                 <li><div>{{#if audio_guide}} ( audio guide ) {{/if}}</div></li> 
                 {{/each}} 
                </uL>
                 
                 <br>
                 <hr>
                
                
                {{/with}}

                <br>
                       
                 <p><strong>Guide</strong></p> 

                 <br>
                  
                 {{#with guide}}
                 <div>{{name}}</div>
                 <div>{{language}}</div>
                 <div>{{rating}}</div>
                 {{/with}}              
                 {{/with}}

                 <br>
                 <hr>
                

                {{/each}}
            </ul>
        </section>
        {{/with}}  
{{/with}}
    
</div>